@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

:root {
    --yellow: #ffcc0d;
    --sky: #00abf0;
    --blue: #0e014e;
    --black: #000;
    --white: #fff;
    --grey: #ffffff1a;
    --light-bg: #eee;
    --bg-color: #081b29;
    --second-bg-color: #072439;
    --light-bg-color: #0d2d44;
    --border-bold: .5rem solid var(--white);
    --border-light: .2rem solid var(--white);
    --green: #b6f0ff;
}

* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--white);
}

*::selection {
    background-color: var(--black);
    color: var(--yellow);
}

*::-webkit-scrollbar {
    height: .5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--sky);
}

html {
    font-size: 65%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    overflow: hidden;
    transition: .2s linear !important;
}

body.active {
    padding-left: 35rem;
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}


.header {
    position: fixed;
    top: 0;
    left: -35rem;
    height: 100vh;
    background-color: var(--light-bg-color);
    border-right: var(--border-bold);
    width: 35rem;
    padding: 3rem 2rem;
    padding-bottom: 9rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    transition: .2s linear !important;
}

.header.active {
    left: 0;
    z-index: 999;
}

.header .logo {
    position: relative;
    text-transform: uppercase;
    border-bottom: var(--border-bold);
    font-weight: bolder;
    font-size: 4.5rem;
}

.header .navbar {
    position: relative;
    width: 100%;
}

.header .navbar a {
    display: block;
    font-size: 2.5rem;
    padding: 1.5rem;
    margin: .5rem;
}

.header .navbar a.active,
.header .navbar a:hover {
    background-color: var(--sky);
    color: var(--white);
    border-radius: 5%;
}

.header .follow a {
    font-size: 3rem;
    margin: 0 1rem;
    cursor: pointer;
    transition: .6s linear !important;
}

.header .follow a:hover {
    transform: rotate(360deg);
    color: var(--sky);
}

#menu-btn {
    position: absolute;
    top: 0;
    right: -5.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 5rem;
    font-size: 2.5rem;
    border-radius: 5rem;
    cursor: pointer;
    background-color: var(--bg-color);
    color: var(--white);
    z-index: 999;
}

#menu-btn:hover {
    background-color: var(--sky);
}

.header.active {
    left: 0;
}

.home {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 5%;
    gap: 2rem;
}

.home .image {
    position: relative;
    flex: 1 1 40rem;
}

.home .image img {
    height: 65rem;
    padding: 2rem;
    border: var(--border-bold);
}

.home .content {
    flex: 1 1 40rem;
    max-width: 60rem;
}

/* .home .content h3{
    text-transform: uppercase;
    font-size: 5rem;
    margin-bottom: .5rem;
} */

.home .content h1 {
    /* position: relative; */
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3rem;
    margin-bottom: 3rem;
}

.home .content .text-animate {
    position: relative;
    width: 32.8rem;
}

.home .content .text-animate h3 {
    font-size: 3.1rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--sky);
    background-image: linear-gradient(var(--sky), var(--sky));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -33rem 0;
}

.home.show-animate .content .text-animate h3 {
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}

.home .content .text-animate h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 4px solid var(--sky);
    z-index: -1;
}

.home.show-animate .content .text-animate h3::before{
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}

.home .content p {
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.btn-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--sky);
    border: .2rem solid var(--sky);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover {
    color: var(--sky);
}

.btn-box .btn:nth-child(2) {
    background-color: transparent;
    color: var(--sky);
}

.btn-box .btn:nth-child(2):hover {
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
    background: var(--sky);
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

.home-sci {
    position: relative;
    padding-top: 20%;
    bottom: 4rem;
    width: 170px;
    display: inline-block;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--sky);
    border-radius: 50%;
    font-size: 20px;
    color: var(--sky);
    z-index: 1;
    overflow: hidden;
}

.home-sci a i {
    color: var(--sky);
}

.home-sci a i:hover {
    color: var(--bg-color);
}

.home-sci a::before {
    content: '';
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--yellow);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover:before {
    width: 100%;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}

.heading {
    position: relative;
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span {
    color: var(--sky);
}

.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--sky);
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--sky);
    border-right: .2rem solid var(--sky);
    animation: aboutSpinner 8s linear infinite;
}

.about-content {
    text-align: center;
}

.about-content h3 {
    position: relative;
    display: inline-block;
    font-size: 2.6rem;
}

.about-content p {
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before {
    background: var(--second-bg-color);
}

.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column {
    flex: 1 1 40rem;
}

.education-column .title {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
    position: relative;
    border-left: .2rem solid var(--sky);
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--sky);
    border-radius: 50%;
}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--sky);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover:before {
    width: 100%;
}

.education-content .content .year {
    font-size: 1.5rem;
    color: var(--sky);
    padding-bottom: .5rem;
}

.education-content .content .year i {
    padding-right: .5rem;
}

.education-content .content h3 {
    font-size: 2rem;
}

.education-content .content p {
    font-size: 1.6rem;
    padding-top: .5rem;
}

.skills {
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--second-bg-color);
}

.skills h2{
    display: inline-block;
    left: 50%;
    transform: translate(-50%);
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column {
    flex: 1 1 40rem;
}

.skills-column .title {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.skills-column .skills-box{
    position: relative;
}

.skills-box .skills-content {
    position: relative;
    border: .2rem solid var(--sky);
    border-radius: 0.6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-content:hover:before {
    width: 100%;
}

.skills-content .progress {
    padding: 1rem 0;
}

.skills-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span {
    color: var(--white);
}

.skills-content .progress .bar {
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--sky);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border: .3rem;
    background: var(--sky);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 75%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 75%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 75%;
}


.contact {
    min-height: auto;
    padding-bottom: 7rem;
}

.contact h2{
    display: inline-block;
    left: 50%;
    transform: translate(-50%);
}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--white);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--sky);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: var(--white);
}

.contact form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea {
    resize: none;
}

.contact form .btn-box.btns .btn {
    cursor: pointer;
}

.contact .box-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    margin-top: 2rem;
}

.contact .box-container .box {
    position: relative;
    text-align: center;
    padding: 3rem 2rem;
    border: .2rem solid var(--sky);
    background-color: var(--second-bg-color);
}

.contact .box-container .box i {
    font-size: 3rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    color: var(--sky);
}

.contact .box-container .box h3 {
    margin: 1rem 0;
    font-size: 2rem;
}

.contact .box-container .box p {
    font-size: 1.5rem;
    text-transform: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text,
.footer-iconTop{
    position: relative;
}

.footer-text p {
    font-size: 1.6rem;
}

.footer .footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--sky);
    border: .2rem solid var(--sky);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer .footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.footer .footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
}

.footer-iconTop a:hover i {
    color: var(--white);
}

/* Animation relode and scroll */

.animate{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 98;
}

.logo .animate,
.navbar .animate,
.header.active .animate,
.home.show-animate .animate{
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

.animate.scroll{
    transition: 1s ease;
    animation-delay: calc(.3s / var(--i));
    animation: none;
}

section:nth-child(odd) .animate.scroll,
.footer .animate.scroll{
    background-color: var(--second-bg-color);
}

.education .education-box .animate.scroll{
    width: 105%;
}

.about.show-animate .animate.scroll,
.education.show-animate .animate.scroll,
.skills.show-animate .animate.scroll,
.contact.show-animate .animate.scroll,
.footer.show-animate .animate.scroll{
    transition-delay: calc(.3s * var(--i));
    width: 0;
}

.message{
    position: sticky;
    top: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    font-size: 3rem;
}

.message span{
    color: var(--bg-color)
}
















/* media queries */

@media (max-width:1030px) {

    html {
        font-size: 55%;
    }

    .home .content h1 {
        padding-top: 2rem;
        font-size: 5.3rem;
    }

    body.active {
        padding-left: 0;
    }
}

@media (max-width:860px) {

    .home .image {
        text-align: center;
    }

    .contact form .input-box .input-field {
        width: 100%;
    }
}

@media (max-width:450px) {

    html {
        font-size: 45%;
    }

    .header.active {
        padding-top: 7rem;
    }

    #menu-btn.fa-times {
        right: 0;
    }
}



/* KEYFRAME ANIMATION */

@keyframes homeBgText {

    0%,
    10%,
    100% {
        background-position: -33rem 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }
}

@keyframes homeCursorText {

    0%,
    10%,
    100% {
        width: 0;
    }

    65%,
    85% {
        width: 100%;
        opacity: 1;
    }

    75%,
    81% {
        opacity: 0;
    }
}

@keyframes aboutSpinner {

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes showRight{
    100%{
        width: 0;
    }
}